absl-py
asn1crypto
av
backcall
beautifulsoup4
certifi
cffi
chardet
# conda
# conda-build
# conda-package-handling
cryptography
cycler
decorator
docopt
einops
filelock
future
glob2
grpcio
idna
imageio
importlib-metadata
ipython
ipython-genutils
jedi
Jinja2
joblib
kiwisolver
libarchive-c
lief
Markdown
MarkupSafe
matplotlib
#mkl-fft
#mkl-random
#mkl-service
numpy
olefile
opencv-python
pandas
parso
pexpect
pickleshare
Pillow
pkginfo
prompt-toolkit
protobuf
psutil
ptyprocess
pycosat
pycparser
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
PyYAML
requests
ruamel-yaml
scikit-learn
scikit-video
scipy
six
soupsieve
tabulate
tensorboard
tensorboardX
threadpoolctl
torchvision==0.14.1
torch==1.13.1
torchtext==0.14.1
tqdm
traitlets
typing-extensions
urllib3
wcwidth
Werkzeug
wget
zipp
ftfy
openai
salesforce-lavis
ffmpeg-python
git+https://github.com/facebookresearch/detectron2.git
slowfast
seaborn
scenedetect

ffmpeg
regex
fvcore
simplejson
setuptools